html {
    background-color: burlywood;
}


#title {
    text-align: center;
    color: maroon;
}


.recipe-name {
    text-align: center;
    list-style-position: inside;
    color: maroon;
}

#fetalf {
    background-color: burlywood;
}

.titlefetalf {
    color: maroon;
}

.pfetalf {
    color: olivedrab;
    font-weight: 600;
}

#mac {
    background-color: burlywood;
}

.titlemac {
    color: maroon;
}

.pmac {
    color: olivedrab;
    font-weight: 600;
}